<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#markdown">Markdown</a></li>

  <li *ngIf="!markdown" class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#preview">Preview</a></li>
  <li *ngIf="markdown" class="nav-item"><a class="nav-link" data-toggle="tab" href="#preview">Preview</a></li>

  <li *ngIf="!markdown" class="nav-item"><a class="nav-link disabled" data-toggle="tab" href="#save">Save</a></li>
  <li *ngIf="markdown" class="nav-item"><a class="nav-link" data-toggle="tab" href="#save">Save</a></li>
</ul>

<div class="tab-content">
  <div id="markdown" class="tab-pane fade active show">
    <div class="container">
      <div class="row">
        <p>Enter <a href="https://commonmark.org/help/" target=”_blank”>Markdown</a> Here</p>
        <textarea [(ngModel)]="markdown" title="Enter Markdown (CommonMark) Here"></textarea>
      </div>
    </div>
  </div>
  <div id="preview" class="tab-pane fade">
    <div class="container">
      <div class="row">
        <div *ngIf="!markdown">HTML Preview Will Appear Here</div>
        <div class="previewHtml" [innerHTML]="markdown|markdownToHtml|safeHtml"></div>
      </div>
    </div>
  </div>
  <div id="save" class="tab-pane fade">
    <div class="container">

      <div class="form-group">
        <label class="col-form-label" for="title">Title</label>
        <input type="text" class="form-control" placeholder="Title" id="title" [(ngModel)]="blogTitle">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="summary">Summary</label>
        <input type="text" class="form-control" placeholder="Summary" id="summary" [(ngModel)]="blogSummary">
      </div>
      <div class="form-group">
        <label class="col-form-label" for="tags">Tags</label>
        <input type="text" class="form-control" placeholder="Tags" id="tags" [(ngModel)]="blogTags">
      </div>
      <div class="form-group">
        <button *ngIf="!blogName" type="button" class="btn btn-primary">Submit</button>
        <button *ngIf="blogName" type="button" class="btn btn-primary">Update</button>
        <button type="button" class="btn btn-secondary">Cancel</button>
      </div>
    </div>
  </div>
</div>