<h1>Info</h1>
<h4 id="About">About</h4>
<p>
  This my homepage hosted on my own server. This is also a testbed for trying out various stuff,
  and hopefully for a little bloggin on the side too.
</p>

<h4 id="Attribution">Attribution</h4>
<p>
  Certain elements of this website may use images and other media that require attribution or are deemed
  worthy of attribution.
</p>

<h4 id="Cookie">Cookies & Local Storage</h4>
<p>
  Browsing this website with your browser’s cookies and local storage settings turned to “on”
  means that you accept our use of cookies according to this policy.
  If you do not accept cookies, you may turn them off in your browser.
</p>